.ban {
  padding: 175px;
  background: url("image/fond.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: auto;
  color: white;
}

.titre {
text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

img {
  width: 140px
}

.navbar-transparent{
  background: transparent;
  border: none;
}

.navbar-transparent .navbar-nav > li > a,
.navbar-transparent .navbar-nav > li > a:hover
{
  color: black;
  line-height: 50px;
}

.navbar-transparent .navbar-brand {
  line-height: 50px;
}

.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus{
  background: transparent;
  color: black;
}

#nav-btn {
  background-color: #009AAB;
  color: #fff;
  border: none;
  border-radius: 0;
  line-height: 10px;
  padding: 10px;
  margin-top: 25px;
  margin-right: 20px;
}

#footer {
  background-color: black;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main{
  padding: 150px;
}


#bg_container{ height:500px; overflow:hidden; }
#bg{ width:100%; }
#content{ position:absolute; top:0px; padding:30px; color:#FFF; text-shadow:#000 2px 2px; }

.social{
  color: white;
}

